.box {
    border: 50px solid #e74c3c; /* Flat UI Colors의 Alizarin 빨간색 */
    width: 200px;
    height: 200px; /* 정사각형 모양을 위해 높이도 맞춰주었습니다 */
    padding: 50px;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .green {
    background-color: #2ecc71; 
    border-color: #2ecc71;    
    
        visibility: hidden; 
  }  
  
  .blue {
    background-color: #3498db; /
    border-color: #3498db;    
  }