body {
    font-family: arial, sans-serif;
  }
  
  .navbar {
    float: right;
    margin: 20px;
  }
  
  .nav-item {
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  
  .navbar i {
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .main {
    padding-top: 300px;
    text-align: center;
  }
  
  .input-area {
    margin-top: 20px;
  }
  
  .input-box {
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 45px;
    padding-right: 160px;
    box-sizing: border-box;
  }
  
  .left-icon {
    position: relative;
    left: 35px;
    color: #9aa0a6;
  }
  
  .keyboard-icon {
    position: relative;
    right: 150px;
    color: #9aa0a6;
  }
  
  .mic-icon {
    position: relative;
    right: 140px;
    color: #9aa0a6;
  }
  
  .camera-icon {
    position: relative;
    right: 130px;
    color: #9aa0a6;
  }
  
  .ai-button {
    position: relative;
    right: 165px;
    height: 30px;
    background-color: #f1f3f4;
    border: 1px solid #f1f3f4;
    border-radius: 16px;
    color: #3c4043;
    font-family: arial, sans-serif;
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
  }
  
  .button-area {
    padding-top: 18px;
  }
  
  .button-style {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    padding: 0 16px;
    margin: 11px 4px;
  }
  
  .button-style:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .language-area {
    margin-top: 18px;
  }
  
  .language {
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
  }
  
  .language:hover {
    text-decoration: underline;
  }
  
  .footer {
    position: absolute;
    bottom: 0px;
    background: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  .second-line {
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
  }
  
  .second-line-second {
    float: right;
  }
  
  .second-line a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    padding-right: 15px;
  }
  
  .second-line a:hover {
    text-decoration: underline;
  }